:root {
    /* Custom properties */
    --hsl-yellow-color: hsl(47, 88%, 63%);
    --hsl-white-color: hsl(0, 0%, 100%);
    --hsl-gray-500-color: hsl(0, 0%, 42%);
    --hsl-gray-950-color: hsl(0, 0%, 7%);
    --hsl-attribution-color: hsl(228, 45%, 44%);

    height: 100vh;
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* Font */
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    height: 100%;
    margin: 0;
    background-color: var(--hsl-yellow-color);

    /* Layout Design */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    /* Layout Design */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Box design */
    background-color: var(--hsl-white-color);
    max-width: 32.5rem;
    padding: 2rem;
    border-radius: 1rem;
    border: .1rem solid var(--hsl-gray-950-color);
    box-shadow: .5rem .5rem black;

    /* Fonts */
    font-size: 1rem;

    /* MQ Rules */
    @media (width >= 375px) {
        max-width: 35rem;
        font-size: 1.6rem;
    }
}

.card__img--hero {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.card__tag {
    /* box design */
    background-color: var(--hsl-yellow-color);
    display: inline-block;
    margin-bottom: 0;
    padding: .5rem .8rem;
    border-radius: .3rem;

    /* font */
    font-weight: 800;
    color: var(--hsl-gray-950-color);
}

.card__title {
    margin-bottom: 0;
    font-size: 2rem;
    
    &:hover {
        color: var(--hsl-yellow-color);
        cursor: pointer;
    }
}

.card__description {
    font-weight: 500;
    color: var(--hsl-gray-500-color);
    margin-bottom: 0;
}

.card__footer {
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.card__img--author-profile {
    max-height: 100%;
    width: auto;
}

.card__author-name {
    font-weight: 800;
    color: var(--hsl-gray-950-color);
}

.attribution {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
}

.attribution__link {
    color: var(--hsl-attribution-color);
}